tib-bwce-qotd.service/Schemas/QuoteResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1543228981208" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1543228981208">
  <complexType name="QuoteElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="author" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="quote" type="string"/>
    </sequence>
  </complexType>
  <element name="QuoteElement" type="tns:QuoteElementType"/>
</schema>
