tib-bwce-qotd.service/Schemas/QuoteDataFormatSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:dataformat="http://ns.tibco.com/bw/palette/dataformat/1927d572-7855-4f8c-ae17-e7f52ecea133" xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ns.tibco.com/bw/palette/dataformat/1927d572-7855-4f8c-ae17-e7f52ecea133">
  <xsd:element name="root" tibex:source="sr.index.dataFormatResource">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="author" type="xsd:string"/>
                <xsd:element name="quote" type="xsd:string"/>
            </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
